<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/course_management</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.show_sql">true</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">admin</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>
        <!--Adding caching-->
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.jcache.JCacheRegionFactory</property>
        <property name="hibernate.javax.cache.provider">org.ehcache.jsr107.EhcacheCachingProvider</property>
        <property name="hibernate.cache.use_second_level_cache">true</property>

        <mapping class="com.courses.management.course.Course"/>
        <mapping class="com.courses.management.user.User"/>
        <mapping class="com.courses.management.homework.Homework"/>
        <mapping class="com.courses.management.solution.Solution"/>
    </session-factory>
</hibernate-configuration>