<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="courses" class="com.courses.management.course.Courses">
        <constructor-arg ref="courseRepository"/>
    </bean>

    <bean id="homeworks" class="com.courses.management.homework.Homeworks">
        <constructor-arg ref="homeworkRepository"/>
        <constructor-arg ref="courseRepository"/>
        <property name="folderPath" value="${folder_path}"/>
    </bean>

    <bean id="homeworkController" class="com.courses.management.homework.HomeworkController">
        <property name="homeworks" ref="homeworks"/>
    </bean>

    <bean id="users" class="com.courses.management.user.Users">
        <constructor-arg ref="userRepository"/>
        <property name="encoder" ref="passwordEncoder"/>
    </bean>

    <bean id="userController" class="com.courses.management.user.UserController">
        <property name="users" ref="users"/>
    </bean>

    <bean id="usersDetailsService" class="com.courses.management.user.auth.UsersDetailsService">
        <constructor-arg ref="userRepository"/>
    </bean>
    <bean id="user" class="com.courses.management.user.User"/>

    <bean id="userPrincipals" class="com.courses.management.user.auth.UserPrincipal">
        <constructor-arg ref="user"/>
    </bean>
</beans>